/* Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f")
    no-repeat center;
  background-size: cover;
}

/* App Styles */
.app {
  padding: 2rem;
  width: 350px;
  background-color: #ffffffd9;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.3);
}

/* App Heading Styles */
.app-heading {
  color: #333;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

/* Search Styles */
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.search-box {
  width: 70%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  margin-right: 0.75rem;
}

/* Submit Btn Styles */
.submit-btn {
  color: #fff;
  background-color: #2196f3;
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #1e88e5;
}

/* Display Styles */
.place {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.date {
  color: #555;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

/* Temperature Styles */
.temp {
  color: #ff5722;
  font-size: 3rem;
  font-weight: 600;
  margin: 1rem 0;
}

/* Cloud Info Styles */
.cloud-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.7rem;
}

.cloud-data {
  color: #000;
  font-size: 1.4rem;
}

.cloud-icon {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

/* Weather Info Styles */
.weather-info {
  display: flex;
  justify-content: space-around;
  background-color: #ffffffb3;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.mid-line {
  border-right: 1.5px solid #b9b9b9;
}

/* Humidity & Wind Speed Styles */
.humidity,
.wind-speed {
  color: #333;
  font-size: 1rem;
}

.humidity span,
.wind-speed span {
  color: #2196f3;
  display: block;
  font-size: 1.2rem;
}

/* Loading Styles */
.loading {
  color: #ff5722;
  font-size: 1.2rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .app {
    width: 85%;
    padding: 1.2rem;
  }

  .temp {
    font-size: 2.5rem;
  }
}
